#description-about-as {
    margin-left: 15%;
    margin-right: 15%;
}

#description-about-as h2 {
    color:#87b85a;
    margin-top: 30px;
}

#img-about-us {
    width: 25%;
    vertical-align: top;
}

#img-about-us img {
    margin-left: 20px;
}




