.product-discription {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
#product-img {
    margin-top: 145px;
    margin-bottom: 15px;
}

.tab-container {
    width: 90%;
}
.tab-container h2{
    margin-top: 15px;
    color:#87b85a ;
}

.nav-link {
    color:#87b85a ;
}

.nav-link:hover {
    color:#719451 ;
}
.download-links {
    margin-left: 15%;
    margin-right: 15%;
}

.link-img {
    width: 14px;
    height: 14px;
}

.download-links-item {
    width: 50%;
}

.download-links-item td {
    padding-left: 15px;
    padding-right: 15px;
}