#header {
    position: fixed;
    box-shadow: 0 0 3px #343434;
    background: rgba(255,255,255,.9);
    z-index: 4;
    width: 100%;
    height: auto;
    top: 0;
}

.block {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

a {
    color:#87b85a ;
    font-size: 18px;
    margin: 10px;  
}

a:hover {
    color: #848284; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
}

a:visited {
    color:#87b85a; /* Цвет посещённой ссылки */
} 

/* Карусель картинок */

.carousel {
    width: 50%;
    height: 20%;
}