<div id="content-anchor">
    <h2>АУДЕНТ</h2>
    <table>
        <tr>
            <td id="text-about-us">
                <p>
                    ООО «АУДЕНТ» официальный представитель INGETEAM на территории Республики Беларусь и Российской Федерации. 
                </p>
                <p>
                    Ingeteam- международная компания, специализирующаяся на электрическом оборудовании, управляющей электронике,
                    а также на проектах в области электротехники и автоматизации. 
                </p>
                <p>
                    Мы предлагаем полную линейку зарядных станций Ingerev для электротранспорта сегодня и завтра.
                    Предоставляемый нами комплекс услуг пополняет фронтенд/бэкенд программное обеспечение и сервисное обсаживание продукции Ingeteam. 
                </p>
                <p>
                    Обладая более чем 45-летним опытом работы в области электрооборудования и 3 десятилетиями в области возобновляемых источников энергии,
                    INGETEAM использовала свой опыт для разработки линейки зарядных станций для электрических транспортных средств INGEREV,
                    поддерживающих весь перечень зарядных мощностей и типов установки, от точек быстрой зарядки до зарядок на дорогах общего пользования,
                    торгово развлекательных центрах, рабочих местах, отелях, стоянках и паркингах. Доступны зарядные станции на переменном и постоянном токе.
                </p>
            </td>
            <td id="img-about-us">
                <img  src="/public/images/product/FUSION_3.jpg" width="100%" alt="img-about-us">   
            </td>
        </tr>
    </table>

</div>

