<div id="content-anchor" class="product-discription">
    <table>
        <tr>
            <td id="tab-cell-1">
                <div class="tab-container">
                    <h2>INGEREV CITY Ground </h2>
                    <br>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Описание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Параметры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Модификации</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Поддержка</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="container tab-pane active"><br>
                            <!-- <h3>HOME</h3> -->
                            <p>
                                Линейка продуктов INGEREV CITY Ground отличается привлекательным дизайном 
                                и необходимыми антивандальными и атмосферостойкими характеристиками, 
                                позволяющими устанавливать его как часть уличной мебели.
                            </p>
                            <p>
                                Эта зарядная станция была разработана в соответствии с руководящими принципами 
                                международного стандарта МЭК 61851, разрешающими зарядку одного транспортного 
                                средства в режимах 1, 2 и 3.
                            </p>
                            <p>
                                Линейка CITY Ground доступена в одно- или трехфазной версии с 
                                мощностью зарядки до 7,4 или 22 кВт для разьема Type 3. Более того, они 
                                оснащены надежной системой фиксации кабеля для предотвращения 
                                их удаления посторонними пользователями.
                            </p>
                            <p>
                                В случае сбоя питания наземные зарядные станции INGEREV CITY оснащены 
                                аккумулятором, обеспечивающим минимальную автономную работу в течение одного 
                                часа. В течение этого времени удержание кабеля и связь гарантированы.
                            </p>
                            
                        </div>
                        <div id="menu1" class="container tab-pane fade"><br>
                            <!-- <h3>Menu 1</h3> -->
                            <ul>
                                <li>Зарядка автомобиля в режимах 1, 2 или 3 в соответствии со стандартом МЭК 61851;</li>
                                <li>Идентификация RFID карты;</li>
                                <li>Учет мощности и энергии (MID);</li>
                                <li>Ограничение несанкционированного доступа пользователя;</li>
                                <li>Автономный источник питания для случая сбоя в питания;</li>
                                <li>Светодиодные индикаторы состояния;</li>
                                <li>Многоязычный ЖК-дисплей с настраиваемым текстом;</li>
                                <li>Регулировка мощности зарядки;</li>
                                <li>Отложенный вариант оплаты;</li>
                                <li>Локальное управление и настройка через RS-485;</li>
                                <li>Удаленное управление и настройка через Ethernet и 3G (доступно опционально);</li>
                                <li>Совместим с протоколом OCPP (доступно опционально);</li>
                                <li>DLM - динамическое управление нагрузкой (доступно опционально);</li>
                                <li>Анти-граффити краска;</li>
                                <li>Защита, соответствующая ITCBT-52.</li>
                            </ul>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                            <!-- <h3>Menu 2</h3> -->
                            <p>
                                ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ И СВЯЗЬ
                            </p>
                            <p>
                                Одной из стандартных функций зарядных станций INGEREV 
                                является возможность соединения с другими зарядными станциями INGEREV 
                                через протокол RS-485 в группах до 10 соединенных зарядных станций.
                            </p>
                            <p>
                                Добавляя коммуникационное оборудование (модем) для каждой группы станций, 
                                они могут быть подключены сети через Ethernet или GPRS / 3G и интегрированы 
                                в центр удаленного управления, который использует открытый протокол OCPP.
                            </p>
                            <p>
                                Аппаратура связи также включает в себя встроенное управляющее программное 
                                обеспечение, доступное через браузер INGEREV WEB MANAGER, позволяющее 
                                осуществлять доступ, настройку и управление оборудованием без необходимости 
                                в дополнительном программном обеспечении.
                            </p>
                            <p>
                                Более подробная информация в разделе Скачать.
                            </p>
                        </div>
                        <div id="menu3" class="container tab-pane fade"><br>
                            <!-- <h3>Menu 2</h3> -->
                            <p>
                                СЛУЖБА ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ
                            </p>
                            <p>
                                По любому инциденту, связанному с зарядной станцией INGEREV, вы можете
                                обратиться по
                                нашим
                                контактам.
                            </p>
                        </div>
                    </div>
                </div>
            </td>
            <td id="tab-cell-2">
                <div id="product-img">
                    <div id="picture-slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#picture-slider" data-slide-to="0" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/public/images/product/CITY Ground.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#picture-slider" role="button" data-slide="prev">
                            <span id="personal-control-prev-icon" class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#picture-slider" role="button" data-slide="next">
                            <span id="personal-control-next-icon" class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="download-links">
    <div class="link-row">
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3395_Archivo_aba2017iqm01-a-installation-manual-for-ingerev-communication-accessories-multi-language.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a
                            href="https://www.ingeteam.com/Download/3395/attachment/aba2017iqm01-a-installation-manual-for-ingerev-communication-accessories-multi-language.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">Руководство по установке вспомогательного оборудования связи
                            Ingerev (на нескольких языках)</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3386_Archivo_aba2019iqm02-a-ingerev-web-manager-user-manual-multilingual-version.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a
                            href="https://www.ingeteam.com/Download/3386/attachment/aba2019iqm02-a-ingerev-web-manager-user-manual-multilingual-version.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">Руководство пользователя для INGEREV Web Manager (на нескольких языках)</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="link-row">
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3379_Archivo_aba2020iqm01-b-installation-and-operation-manual-ingerev-city-duo-ground-multilingual-version.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a
                            href="https://www.ingeteam.com/Download/3379/attachment/aba2020iqm01-b-installation-and-operation-manual-ingerev-city-duo-ground-multilingual-version.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">INGEREV CITY Ground руководство по установке и эксплуатации (на нескольких языках)</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3393_Archivo_communications-ingerev-ev-charging-points-english.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a
                            href="https://www.ingeteam.com/Download/3393/attachment/communications-ingerev-ev-charging-points-english.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">Связь INGEREV EV для зарядных станций</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="link-row">
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3483_Archivo_ingerev-cityground-in.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a
                            href="https://www.ingeteam.com/Download/3483/attachment/ingerev-cityground-in.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">INGEREV CITY Ground технические данные</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
        <div class="download-links-item">
            <table>
                <tr>
                    <td class="link-cell" rowspan="2">
                        <img class="link-img" src="/public/images/product/eye.svg" alt="view">
                        <a target="_blank"
                            href="https://www.ingeteam.com/Portals/0/Catalogo/Producto/Documento/PRD_3430_Archivo_ingerev-dlm-en.pdf">
                            Посмотреть
                        </a>
                        <br>
                        <img class="link-img" src="/public/images/product/data-transfer-download.svg" alt="download">
                        <a href="https://www.ingeteam.com/Download/3430/attachment/ingerev-dlm-en.pdf.aspx">
                            Скачать
                        </a>
                    </td>
                    <td>
                        <h5 class="name-link">DLM (Динамическое управление нагрузкой)</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    

</div>
