<div class="tiles">
    <div id="time-tile">
        <img class="tile-img" src="/public/images/main/time2_tile.png" width="100%" alt="about right spend time">
        <div class="tile-content">
            <h4 id="time-tile-content-h" style="font-weight: 600">
                <a style="color:white" href="/about_us">МЫ ЗНАЕМ ЦЕНУ ВРЕМЕНИ</a>
            </h4>
            <p id="time-tile-content-p">
                Надежность, практичность и функциональность инфраструктуры для
                электрического транспорта - отличительные черты нашего продукта.
                Сервис от и для электроавтомобилистов.
            </p>
        </div>  
    </div>
    <div id="three-blocks">
        
        <div id="charger-tile">
            <img class="tile-img" src="/public/images/main/charger_tile.png" width="100%" alt="about chargers">
            <div class="tile-content">
                <h4 class="block-tile-content-h" style="font-weight: 600">
                    <a style="color:white" href="/products">ЗАРЯДКИ</a>
                </h4>
                <p class="block-tile-content-p">
                    Мы используем зарядные станции от мирового лидера
                    в области электрооборудования Ingeteam.
                </p>
            </div>  
        </div>
        <div id="software-tile">
            <img class="tile-img" src="/public/images/main/software_tile.png" width="100%" alt="about software">
            <div class="tile-content">
                <h4 class="block-tile-content-h" style="font-weight: 600"><a style="color:white" href="">ПРОГРАМНОЕ ОБЕСПЕЧЕНИЕ</a></h4>
                <p class="block-tile-content-p">
                    В качестве дополнительного сервиса мы предлагаем
                    мобильное приложение, предоставляющее яркий опыт
                    при использовании сети зарядных станций АУДЕНТ.
                </p>
            </div>  
        </div>
        <div id="servise-tile">
            <img class="tile-img" src="/public/images/main/servise_tile.png" width="100%" alt="about servise">
            <div class="tile-content">
                <h4 class="block-tile-content-h" style="font-weight: 600"><a style="color:white" href="">СЕРВИС</a></h4>
                <p class="block-tile-content-p">
                    Наши специалисты обеспечивают полный спектр услуг
                    по обслуживанию и вводу в комерческое использование
                    зарядных станций.
                </p>
            </div>  
        </div>
            
    </div>

</div>