<div id="content-anchor" class="product-content">
    <h2>Зарядные станции для электромобилей</h2>
    <table>
        <tr>
            <td id="description-paragraphs">
                <p class="description-text">
                    Компания АУДЕНТ предоставляет своим клиентам всю производимую компанией INGETEAM 
                    линейку зарядных станций INGEREV® для электрических транспортных средств.
                </p>
                <p class="description-text">
                    Обладая более чем 45-летним опытом работы в области силовой электроники и 3 десятилетиями 
                    в области возобновляемых источников энергии, INGETEAM использовала свой опыт для разработки 
                    линейки зарядных станций для электронных транспортных средств INGEREV®, доступных в переменном и постоянном токе.
                </p>
                <p class="description-text">
                    Этот диапазон поддерживает все типы зарядных устройств и типов установки, от точек быстрой зарядки до возможности 
                    зарядки на дороге общего пользования, включая зарядку в центрах досуга и торговых центрах, на рабочих местах, 
                    в отелях, на автостоянках и автопарках.
                </p>
            </td>
            <td id="description-img">
                <img  src="/public/images/product/product_main.jpg"  width="100%" alt="Charge stantion">
            </td>
        </tr>
    </table>
    <div id="description">
        
        
    </div>

    <h4 class="unit-title"> Частные зарядные станции </h4>
    <div id="private" class="product-list">
        <div class="product-item" id="garage-basic">
            <div class="product-item-img-block">
                <a href="/products/garage_basic">
                    <img src="/public/images/product/GARAGE Basic.jpg" alt="GARAGE Basic image">
                </a>
            </div>
            <h5><a href="/products/garage_basic">INGEREV GARAGE Basic</a></h5>
            <p>
                Идеальная зарядная станция для автопарков и для жилых целей.
            </p>
        </div>
    </div>
    <h4 class="unit-title"> Публичные зарядные станции </h4>
    <div id="public" class="product-list"> 
        <div class="product-item" id="fusion">
            <div class="product-item-img-block">
                <a href="/products/fusion">
                    <img src="/public/images/product/FUSION_1.jpg" alt="FUSION image">
                </a>
            </div>
            <h5><a href="/products/fusion">INGEREV FUSION</a></h5>
            <p>
                Зарядная станция устанавливаемая в общественных и частных площадках.
            </p>
        </div>
        <div class="product-item" id="garage">
            <div class="product-item-img-block">
                <a href="/products/garage">
                    <img src="/public/images/product/GARAGE.png" alt="GARAGE image">
                </a>
            </div>
            <h5><a href="/products/garage">INGEREV GARAGE</a></h5>
            <p>
                Умная настенная зарядная станция.
            </p>
        </div>
        <div class="product-item" id="city-ground">
            <div class="product-item-img-block">
                <a href="/products/city_ground">
                    <img src="/public/images/product/CITY Ground.jpg" alt="CITY Ground image">
                </a>
            </div>
            <h5><a href="/products/city_ground">INGEREV CITY Ground</a></h5>
            <p>
                Городская зарядная станция.
            </p>
        </div>
        <div class="product-item" id="city-duo">
            <div class="product-item-img-block">
                <a href="/products/city_duo">
                    <img src="/public/images/product/CITY Duo_1.jpg" alt="CITY Duo image">
                </a>
            </div>
            <h5><a href="/products/city_duo">INGEREV CITY Duo</a></h5>
            <p>
                Двойная городская зарядная станция.
            </p>
        </div>
    </div>
    <h4 class="unit-title"> Быстрые зарядные станции </h4>
    <div id="rapid" class="product-list">
        <div class="product-item" id="rapid-50">
            <div class="product-item-img-block">
                <a href="/products/rapid_50">
                    <img src="/public/images/product/RAPID 50_1.png" alt="RAPID 50 image">
                </a>
            </div>
            <h5><a href="/products/rapid_50">INGEREV RAPID 50</a></h5>
            <p>
                Эта быстрая, надежная и эффективная зарядная станция 
                идеально подходит для всех типов транспортных средств.
            </p>
        </div>
    </div>
    
</div>
