.product-content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
}

.product-content h2 {
    color:#87b85a ;
}

#description-img {
    width: 25%;
    vertical-align: top;
}

#description-img img {
    margin-left: 20px;
}

.unit-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.product-list {
    display: flex;
}

.product-item {
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
}
.product-item a {
    color: #87b85a;
}

.product-item-img-block {
    border: 1px #D1D1D1 solid;
    display: table;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px;
}

.product-item-img-block img {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
    /* text-align: right; */
    margin: auto;  
}